<p id="notice"><%= notice %></p>

<h1>Usees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usees.each do |usee| %>
      <tr>
        <td><%= usee.name %></td>
        <td><%= usee.email %></td>
        <td><%= link_to 'Show', usee %></td>
        <td><%= link_to 'Edit', edit_usee_path(usee) %></td>
        <td><%= link_to 'Destroy', usee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usee', new_usee_path %>
