<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @usee.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usee.email %>
</p>

<%= link_to 'Edit', edit_usee_path(@usee) %> |
<%= link_to 'Back', usees_path %>
